{% extends "layout.twig" %}
{% block title %} Favoritos – uoMusic {% endblock %}
{% block main_container %}

    <h2>Canciones Favoritas</h2>

    <div class="row">
        {% for song in songs %}
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                <div style="width:200px">
                    <a href="/songs/{{ song.song_id }}">
                        <img src="/covers/{{ song.song_id }}.png" alt="logo"/>
                        <div>{{ song.title }}</div>
                        <div class="text-right">{{ song.price }} €</div>
                    </a>
                    <a class="btn btn-danger btn-sm" href="/songs/favorites/delete/{{ song._id }}">Borrar de favoritos</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="total-price" style="margin-top: 20px;">
        <h3>Total: {{ totalPrice }} €</h3>
    </div>

{% endblock %}
